body {
  margin: 0;
  background: #202126;
  color: #f1f1f1;
  font-family: system-ui, sans-serif;
}
.reader-example {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
.reader-example > header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}
.reader-example > header > button {
  font: inherit;
  padding: 8px 16px;
  cursor: pointer;
}
.reader-example > .preview {
  height: 65vh;
  --scroll-preview-height: 100%;
}
.reader-example > output {
  display: block;
  margin-top: 16px;
}
